* {
    user-select: none;
}

html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden !important;
    overflow-y: none !important;
    overflow-x: none !important;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden !important;
    overflow-y: none !important;
    overflow-x: none !important;
    background-color: #121212;
}

.char {
    transform: translateY(0%);
    color: #fff;
}

.cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid black;
    transition: all 200ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: black;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
}

.hover {
    background-color: red;
    opacity: 0.5;
}

.cursorinnerhover {
    width: 50px;
    height: 50px;
    opacity: .5;
}